---
import Map from '../ui/Map.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>LOTW Map</title>
	</head>
	<body>
		<Map client:only />
	</body>
</html>

<style>
body {
}
</style>